<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-4TEHJ4J\SQLEXPRESS2;Initial Catalog=INDOMIM;User ID=sa;Password=pctadmin$123;" />
  </connectionStrings>
  <appSettings>
    <add key="EnableLogs" value="true" />
    <!--Macro Locations For Mazak-->
    <add key="ComponentMacro" value="705"/>
    <add key="CycleEndDateTimeMacro" value="706"/>
    <add key="DataReadflagMacro" value="710"/>
    <add key="featureIDMacro" value="708"/>
    <add key="DataReadStatusFlagMacro" value="709"/>
    <add key="InspectionReadDelayInSec" value="1"/>
    <add key="ComponentGroupIdMacro" value="712"/>

    <!--Macro Locations For Mitsubishi-->
    <add key="Mtb_ComponentMacro" value="705"/>
    <add key="Mtb_CycleEndDateTimeMacro" value="706"/>
    <add key="Mtb_DataReadflagMacro" value="710"/>
    <add key="Mtb_featureIDMacro" value="708"/>
    <add key="Mtb_DataReadStatusFlagMacro" value="709"/>
    <add key="Mtb_InspectionReadDelayInSec" value="1"/>
    <add key="Mtb_ComponentGroupIdMacro" value="712"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
</configuration>